# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ambientes virtuais
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

# Arquivos de execução / temporários
*.log
*.tmp
*.bak
*.orig

# Pasta de arquivos
/Arquivo

# Arquivos de ambiente locais
.env
.env.*

